.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(221, 220, 220);
    margin-bottom: 30px;
    background-color: rgb(30, 29, 29);
    padding: 20px 10px;
    border-radius: 8px;
    box-sizing: border-box;

    .project{
      display: flex;
      align-items: baseline;
      gap: 10px;

      &:hover{
        .edit, .delete{
          visibility: inherit;
        }
      }


      .title{
        font-size: 32px;
        font-weight: 700;
      }

      .edit, .delete{
        visibility: hidden;
      }

      
    }

    .editing{
      input{
        background-color: transparent;
        font-size: 32px;
        font-weight: 700;
        // border: 1px solid #ffffff85;
        color: rgb(221, 220, 220);
        border: none;
        outline: none;
        font-family: Roboto, "Helvetica Neue", sans-serif;
      }
    }

    .buttons{
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
    }

    .button {
        border-radius: 8px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
        border: none;
        color: white;
        position: relative;
        cursor: pointer;
        font-weight: 700;
        background-color: #141414;

        img{
          height: 20px;
        }
    }
}

.empty{
  text-align: center;
  margin: 40px;
  color: rgb(221, 220, 220);
  font-size: 18px;
}

.done{
  margin-top: 60px;

}

.wrapper{
  display: flex;
  justify-content: space-between;
  color: rgb(221, 220, 220);
  margin: 20px;
  align-items: center;



  .subtitle{
    font-size: 24px;
    font-weight: 500;
  }

  .nav{
    display: flex;
    gap: 10px;

  }

  .button{
    padding: 5px 10px;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
      background-color: rgba(164, 164, 164, 0.463);
    }
  }
}

.complited{
  text-align: center;
  color: rgb(221, 220, 220);
  margin-top: 15px;
}

.done-table{
  opacity: 50%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}