<ng-container *ngIf="!loading">
  <div class="header">
    <div class="project" *ngIf="!titleInputVisible">
      <!-- <mat-icon  [fontIcon]="project.icon ?? 'check_circle'"></mat-icon> -->
      <div class="title">{{project.name}}</div>
      <div class="edit" (click)="openTitleInput()">
        <mat-icon fontIcon="edit"></mat-icon>
      </div>
      <!-- <div class="delete">
        <mat-icon fontIcon="delete"></mat-icon>
      </div> -->
  
      
    </div>
    <div class="editing" *ngIf="titleInputVisible">
      <input 
        [(ngModel)]="project.name" 
        (blur)="updateProjectName()"
        autofocus
        #input
      >
    </div>
  
    <div class="buttons">
      <div class="button" (click)="createTask()">
          Create a task
      </div>
  
    </div>
  </div>

  <div class="empty" *ngIf="!tasks.length; else content">
    This project does not have any tasks yet
  </div>
  
  <ng-template #content>
    <div class="toDo">
      <div class="wrapper">
        <div class="subtitle">Upcoming tasks</div>
        <div class="nav" *ngIf="toDoSelection.selected.length">
          <div class="button" (click)="completeSelectedTasks()">Complete</div>
          <button mat-button [matMenuTriggerFor]="menu">Transfer to...</button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let project of projects" (click)="transferToDoTasks(project.id)">{{project.name}}</button>
          </mat-menu>
        </div>
      </div>
    
      <table mat-table [dataSource]="toDoDataSource" matSort class="mat-elevation-z8" *ngIf="tasksToDo.length; else complited">
    
        <!-- Name Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllToDoRows() : null"
                          [checked]="toDoSelection.hasValue() && isAllToDoSelected()"
                          [indeterminate]="toDoSelection.hasValue() && !isAllToDoSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? toDoSelection.toggle(row) : null"
                          [checked]="toDoSelection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Name
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>
            Description
          </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
            Deadline
          </th>
          <td mat-cell *matCellDef="let element"> {{element.date | momentDate}} </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let element" (click)="editTask(element)"></tr>
      </table>
  
      <ng-template #complited>
        <div class="complited">You have complited all the tasks!</div>
      </ng-template>
    </div>
    
    
    
    <div class="done" *ngIf="doneDataSource && tasksDone.length">
      <div class="wrapper">
        <div class="subtitle" >Done</div>
        <div class="nav" *ngIf="doneSelection.selected.length">
          <div class="button" (click)="undoneSelectedTasks()">Mark as not done</div>
        </div>
      </div>  
      <table mat-table [dataSource]="doneDataSource" matSort class="mat-elevation-z8 done-table">
    
        <!-- Name Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllDoneRows() : null"
                          [checked]="doneSelection.hasValue() && isAllDoneSelected()"
                          [indeterminate]="doneSelection.hasValue() && !isAllDoneSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? doneSelection.toggle(row) : null"
                          [checked]="doneSelection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>
          Description
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
          Deadline
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date | momentDate}} </td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  </ng-template>  
</ng-container>