:host{
    width: 30vw;
    padding: 20px;
}

.header{
    position: absolute;
    
    img{
        width: 30px;
    }

}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
