.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(221, 220, 220);
    margin-bottom: 30px;
    background-color: rgb(30, 29, 29);
    padding: 20px 10px;
    border-radius: 8px;
    box-sizing: border-box;

    .title{

        font-size: 32px;
        font-weight: 700;
    }

    .buttons{
      display: flex;
      gap: 5px;
    }

    .button {
        border-radius: 8px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
        border: none;
        color: white;
        position: relative;
        cursor: pointer;
        font-weight: 700;
        background-color: #141414;

        img{
          height: 20px;
        }
    }
}