<div class="header">
    <div class="title">My tasks</div>
    <div class="buttons">
        <div class="button">
            <img src="/assets/icons/calendar (1).png">
        </div>
        <div class="button">
            <img src="/assets/icons/layout.png">
        </div>
        <div class="button" (click)="createTask()">
            Create a task
        </div>
    </div>

</div>
<!-- <div cdkDropList class="tasks" (cdkDropListDropped)="drop($event)">
    <app-task *ngFor="let task of tasks" [task]="task" cdkDrag></app-task>
</div> -->

<!-- {{expiredTasks | json}} -->

<div class="content">
    <div 
        class="day" 
        cdkDropList 
        #expiredList="cdkDropList"
        [cdkDropListData]="expiredTasks"
        [cdkDropListConnectedTo]="[tomorrowList, todayList, weekList]"
        (cdkDropListDropped)="drop($event)">
            <div class="title">Expired</div>
            <app-task *ngFor="let task of expiredTasks" (editClick)="editTask(task)" [task]="task" cdkDrag></app-task>
    </div>
    <div 
        class="day" 
        cdkDropList 
        #todayList="cdkDropList"
        [cdkDropListData]="todayTasks"
        [cdkDropListConnectedTo]="[tomorrowList, expiredList, weekList]"
        (cdkDropListDropped)="drop($event)">
            <div class="title">Today</div>
            <app-task *ngFor="let task of todayTasks" (editClick)="editTask(task)" [task]="task" cdkDrag></app-task>
    </div>
    <div 
        class="day" 
        cdkDropList 
        #tomorrowList="cdkDropList"
        [cdkDropListData]="tomorrowTasks"
        [cdkDropListConnectedTo]="[todayList, expiredList, weekList]"
        (cdkDropListDropped)="drop($event)">
            <div class="title">Tomorrow</div>
            <app-task *ngFor="let task of tomorrowTasks" (editClick)="editTask(task)" [task]="task" cdkDrag></app-task>
    </div>
    <div 
        class="day" 
        cdkDropList 
        #weekList="cdkDropList"
        [cdkDropListData]="weekTasks"
        [cdkDropListConnectedTo]="[todayList, tomorrowList, expiredList]"
        (cdkDropListDropped)="drop($event)">
            <div class="title">Next week</div>
            <app-task *ngFor="let task of weekTasks" (editClick)="editTask(task)" [task]="task" class="task" cdkDrag></app-task>
    </div>
</div>
