
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(221, 220, 220);
    margin-bottom: 30px;

    .title{

        font-size: 32px;
        font-weight: 700;
    }
}


.content{
    display: flex;
    color: white;
    
    .day{
        .title{
            text-align: center;
            font-size: 24px;
        }
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 5px;
        gap: 15px;
        align-items: center;
        border-right: 2px solid rgba(255, 255, 255, 0.378);
    }
}