.container{
    display: flex;
    gap: 5px;


    .done, .expired, .calendar{
        margin-bottom: 13px;
        height: 35vh;
    }

    .done{
        flex: 1;
    }

    .expired, .calendar{
        flex: 2;
    }

}