
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(221, 220, 220);
    margin-bottom: 30px;
    background-color: rgb(30, 29, 29);
    padding: 20px 10px;
    border-radius: 8px;
    box-sizing: border-box;

    .title{

        font-size: 32px;
        font-weight: 700;
    }
}

.content{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}