<div class="wrapper">
    <div 
    class="day" 
    id="expired"
    cdkDropList 
    #expiredList="cdkDropList"
    [cdkDropListData]="expiredTasks"
    [cdkDropListConnectedTo]="[tomorrowList, todayList, weekList]"
    (cdkDropListDropped)="drop($event)">
        <div class="title">Expired</div>
        <app-task *ngFor="let task of expiredTasks" (editClick)="editTask(task)" [task]="task" cdkDrag></app-task>
</div>
<div 
    class="day" 
    id="today"
    cdkDropList 
    #todayList="cdkDropList"
    [cdkDropListData]="todayTasks"
    [cdkDropListConnectedTo]="[tomorrowList, expiredList, weekList]"
    (cdkDropListDropped)="drop($event)">
        <div class="title">Today</div>
        <app-task *ngFor="let task of todayTasks" (editClick)="editTask(task)" [task]="task" cdkDrag></app-task>
</div>
<div 
    class="day" 
    id="tomorrow"
    cdkDropList 
    #tomorrowList="cdkDropList"
    [cdkDropListData]="tomorrowTasks"
    [cdkDropListConnectedTo]="[todayList, expiredList, weekList]"
    (cdkDropListDropped)="drop($event)">
        <div class="title">Tomorrow</div>
        <app-task *ngFor="let task of tomorrowTasks" (editClick)="editTask(task)" [task]="task" cdkDrag></app-task>
</div>
<div 
    class="day" 
    id="week"
    cdkDropList 
    #weekList="cdkDropList"
    [cdkDropListData]="weekTasks"
    [cdkDropListConnectedTo]="[todayList, tomorrowList, expiredList]"
    (cdkDropListDropped)="drop($event)">
        <div class="title">Next week</div>
        <app-task *ngFor="let task of weekTasks" (editClick)="editTask(task)" [task]="task" class="task" cdkDrag></app-task>
</div>
</div>