:host{
    display: block;
}

.header{
    display: flex;
    flex: 1 0 14%;
    width: 100%;

    .day-name{
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.4);
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
}

.calendar{
    display: flex;
    flex-wrap: wrap;
    height: 100%;


    .dates{
        flex: 1 0 14%
    }
}