.container{
    background-color:  rgb(30, 29, 29);
    padding: 20px;
    color: rgb(223, 222, 222);
    border-radius: 8px;
    margin: 3px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    

}