<div class="gradient">
    <div class="container">
        <div class="welcome">
            <div class="title">Welcome to Neon Task Tracker</div>
            <div class="desc">Organize your tasks and boost your productivity with our neon-themed tracker</div>
        </div>
    
    
        <div class="button">Get started</div>
    
        <div class="cards">
            <div class="card">
                <img src="/assets/icons/Frame.svg">
                <div class="advantage">Stay Organized</div>
                <div class="details">Keep all your tasks in one place and track your progress throughout the day</div>
            </div>
            <div class="card">
                <img src="/assets/icons/clock.svg">
                <div class="advantage">Meet Deadlines</div>
                <div class="details">Set due dates for your tasks and ensure you meet your goals on time</div>
            </div>
            <div class="card">
                <img src="/assets/icons/user.svg">
                <div class="advantage">Easy to Use</div>
                <div class="details">Our intuitive design makes it simple to manage your tasks without any hassle</div>
            </div>
        </div>
    </div>
</div>


<app-form></app-form>