.substrate{
    background: linear-gradient(68deg, #c87dd4, #690176, #BB0C75, #d511f4);
    box-shadow: 0px 0px 5px 1px #d611f4a7;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    width: 300px;
    &:hover{
        box-shadow: 0px 0px 10px 3px #d611f4a7; 
    }
};


.card{
    background-color:  rgb(30, 29, 29);
    padding: 20px;
    color: rgb(223, 222, 222);
    width: 100%;
    border-radius: 8px;
    margin: 3px;
    position: relative;

    .category{
        background-color: #eb41a737;
        border-radius: 50px;
        font-size: 14px;
        text-align: center;
        padding: 3px 7px;
        display: inline;
        font-weight: 300;
    }

    .name{
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
    }

    .desc{
        color: rgb(167, 167, 167);
        max-height: 40px;
        overflow: hidden;
        text-overflow: clip;
    }

    .date{
        font-size: 14px;
        color: rgb(167, 167, 167);
        margin-top: 10px;
        position: relative;

        &.expired{
            &::after{
                content: '.';
                position: absolute;
                color: transparent;
                background-color: #ff000081;
                box-shadow: 0 0 1px 1px #ff00006a;
                border-radius: 50px;
                width: 10px;
                height: 10px;
                margin-left: 10px;
                animation: pulse-animation 2s infinite;
            }
        }
    }

    .done{
        color: #d611f48b;
        margin: 10px 0;
        cursor: pointer;
        width: 50px;
        
        &:hover{
            color: #d611f4;
        }
    }

    .edit{
        position: absolute;
        top: 20px;
        right: 5px;
        cursor: pointer;
        img{
            height: 20px;
            opacity: 40%;

            &:hover{
                opacity: 1;
            }
        }
    }
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px #ff000069;
    }
    100% {
      box-shadow: 0 0 0 10px #ff000000;
    }
  }
  