<mat-spinner *ngIf="loading; else content"></mat-spinner>
<ng-template #content>
  <table mat-table [dataSource]="dataSource" matSort
       class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by project">
      Project
    </th>
    <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      Deadline
    </th>
    <td mat-cell *matCellDef="let element" [class.expired]="checkExpired(element)"> {{element.deadline | momentDate}} </td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef>
      Result
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="done" (click)="doneTaskClicked(element, $event)">
        Done 
      </div>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let element" (click)="editTask(element)"></tr>
  </table>

</ng-template>

